@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


#root {
    font-family: 'Righteous', cursive !important;
  }


.home-head-top {
    font-size: 50px;
    background: rgb(53, 219, 164);
    background: linear-gradient(140deg, rgb(148, 255, 219) 9%, rgb(120, 233, 255)80%);
    color: transparent;
    font-family: 'Righteous', cursive !important;
    -webkit-background-clip: text;
  }

  .d-flex {
    justify-content: space-evenly;
  }